In [1]:
import pandas as pd
import os

In [2]:
hrsa_file = os.path.join('County_Average_HRSA.csv')
death_rates_county = os.path.join ('Death_rates_by_county_df.csv')
death_rates_county_cap = os.path.join('Death_rates_by_county_per_capita.csv')
deaths_county = os.path.join('deaths_by_county_df.csv')
deaths_county_cap = os.path.join('deaths_by_county_per_capita.csv')

In [3]:
hrsa_df = pd.read_csv(hrsa_file)
death_rates_df = pd.read_csv(death_rates_county)
death_rates_county_cap_df = pd.read_csv(death_rates_county_cap)
deaths_county_df = pd.read_csv(deaths_county)
deaths_county_cap_df = os.path.join(deaths_county_cap)

In [4]:
hrsa_df = hrsa_df.drop(columns=['Unnamed: 0'])

In [5]:
hrsa_df['County Name'] = hrsa_df['County Name'].str.replace(" ","")
hrsa_df = hrsa_df.rename(columns={"County Name": "County&State"})

hrsa_df

     State Name                                       County&State  HPSA Score
0       Alabama                                   AutaugaCounty,AL   12.000000
1       Alabama  AutaugaCounty,AL|ElmoreCounty,AL|MontgomeryCou...   16.000000
2       Alabama                                   BaldwinCounty,AL   15.000000
3       Alabama                                   BarbourCounty,AL   18.666667
4       Alabama                                      BibbCounty,AL   15.750000
...         ...                                                ...         ...
2838    Wyoming                                  SubletteCounty,WY   10.000000
2839    Wyoming                                SweetwaterCounty,WY   12.500000
2840    Wyoming                                     UintaCounty,WY   15.500000
2841    Wyoming                                  WashakieCounty,WY   16.000000
2842    Wyoming                                    WestonCounty,WY   11.000000

[2843 rows x 3 columns]

In [6]:
death_rates_df['County&State'] = death_rates_df['County&State'].str.replace(" ","")
death_rates_df

,County&State,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,...,6/7/2020,6/8/2020,6/9/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,population
0,"StatewideUnallocated,AL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"AutaugaCounty,AL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.018868,0.018382,0.017730,0.020339,0.019231,0.018576,0.018127,0.016807,0.016304,1.0
2,"BaldwinCounty,AL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.028754,0.028125,0.027692,0.027190,0.026239,0.025496,0.024931,0.024725,0.023499,1.0
3,"BarbourCounty,AL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.005181,0.005076,0.005025,0.004808,0.004673,0.004525,0.004425,0.004274,0.004202,1.0
4,"BibbCounty,AL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.012987,0.012658,0.011765,0.011236,0.010753,0.010309,0.010000,0.009615,0.009009,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,"SweetwaterCounty,WY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
3191,"TetonCounty,WY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.010000,0.010000,0.010000,0.009901,0.009804,0.009615,0.009615,0.009524,0.009524,1.0
3192,"UintaCounty,WY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
3193,"WashakieCounty,WY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.076923,0.076923,0.076923,0.076923,0.076923,0.076923,0.076923,0.076923,0.076923,1.0
3194,"WestonCounty,WY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0

In [8]:
death_rates_merge = pd.merge(death_rates_df, hrsa_df, how='outer', on='County&State')

In [9]:
death_rates_mergepd.to_csv(death_rates_merge

,County&State,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,...,6/9/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,population,State Name,HPSA Score
0,"StatewideUnallocated,AL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"AutaugaCounty,AL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.017730,0.020339,0.019231,0.018576,0.018127,0.016807,0.016304,1.0,Alabama,12.000000
2,"BaldwinCounty,AL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.027692,0.027190,0.026239,0.025496,0.024931,0.024725,0.023499,1.0,Alabama,15.000000
3,"BarbourCounty,AL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.005025,0.004808,0.004673,0.004525,0.004425,0.004274,0.004202,1.0,Alabama,18.666667
4,"BibbCounty,AL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.011765,0.011236,0.010753,0.010309,0.010000,0.009615,0.009009,1.0,Alabama,15.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3408,"DunnCounty,WI|St.CroixCounty,WI",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin,10.000000
3409,"JacksonCounty,WI|TrempealeauCounty,WI",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin,12.000000
3410,"LaCrosseCounty,WI|MonroeCounty,WI",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin,11.000000
3411,"OneidaCounty,WI|VilasCounty,WI",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin,6.000000
3412,"OutagamieCounty,WI|WaupacaCounty,WI",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin,13.000000