In [1]:
#This code imports the three source files from usafacts
#It produces six dataframes:
#1. cases_by_county_df: confirmed cases by county, by day from 1/22/20 to 6/15/20, including a column for country population.
#2. cases_by_state_df: a group-by of #1, organised into US States.
#3. deaths_by_county_df: confirmed deaths by county, by day from 1/22/20 to 6/15/20, including a column for country population.
#4. deaths_by_state_df: a group-by of #3, organised into US States.
#5. rates_by_county_df: #3 divivded by #1, to get deaths / cases per day by county.
#6. rates_by_state_df: #4 divivded by #2, to get deaths / cases per day by state.

#There are also some basic graphs.

In [2]:
# Dependencies and Setup
import os
import pandas as pd

In [3]:
#import csv files from output path
file_path = os.path.join('source_data', 'covid_confirmed_usafacts.csv')
cases_by_county_df = pd.read_csv(file_path, encoding="utf-8")

file_path = os.path.join('source_data', 'covid_deaths_usafacts.csv')
deaths_by_county_df = pd.read_csv(file_path,encoding="utf-8")

file_path = os.path.join('source_data', 'covid_county_population_usafacts.csv')
county_pop_df = pd.read_csv(file_path, encoding="utf-8")

In [4]:
#create new columns for county+state (because lots of duplicate county names in different states)
county_pop_df["County&State"] = county_pop_df['County Name'] + ',' + county_pop_df['State']
deaths_by_county_df["County&State"] = deaths_by_county_df['County Name'] + ',' + deaths_by_county_df['State']
cases_by_county_df["County&State"] = cases_by_county_df['County Name'] + ',' + cases_by_county_df['State']

In [5]:
# #data clean up - some county names in deaths_by_county_df are not the same in other dataframes.
# deaths_by_county_df['County&State'] = deaths_by_county_df['County&State'].replace({'Broomfield County and City,CO': 'Broomfield County,CO', 
#                                                                        'Matthews County,VA': 'Mathews County,VA'})

In [6]:
#data clean up - some county names in deaths_by_county_df are not the same in other dataframes.
deaths_by_county_df['County&State'] = deaths_by_county_df['County&State'].replace({'Broomfield County,CO': 'Broomfield County and City,CO', 
                                                                       'Mathews County,VA': 'Matthews County,VA',
                                                                        'Lac qui Parle County,MN': 'Lac Qui Parle County,MN',          
                                                                         'Alexandria city,VA': 'Alexandria City,VA',
                                                                                   'Charlottesville city,VA': 'Charlottesville City,VA',
                                                                                   'Chesapeake city,VA': 'Chesapeake City,VA',
                                                                                   'Danville city,VA': 'Danville City,VA',
                                                                                   'Fredericksburg city,VA': 'Fredericksburg City,VA',
                                                                                   'Harrisonburg city,VA': 'Harrisonburg City,VA',
                                                                                   'Manassas city,VA': 'Manassas City,VA',
                                                                                   'Norfolk city,VA': 'Norfolk City,VA',
                                                                                   'Portsmouth city,VA': 'Portsmouth City,VA',
                                                                                   'Richmond city,VA': 'Richmond City,VA',
                                                                                   'Suffolk city,VA': 'Suffolk City,VA',
                                                                                   'Virginia Beach city,VA': 'Virginia Beach City,VA'
                                                                                  })

In [7]:
#add county population to cases_by_county_df
cases_by_county_df = pd.merge(cases_by_county_df, county_pop_df, on="County&State", how="outer")
#tidy up
cases_by_county_df.rename(columns={'countyFIPS_x':'countyFIPS','County Name_x': 'County Name', "State_x":'State',"population_x":"population"}, inplace=True)
del cases_by_county_df['countyFIPS_y']
del cases_by_county_df['State_y']
del cases_by_county_df['County Name_y']
cases_by_county_df = cases_by_county_df.set_index("County&State")

In [8]:
#add county population to deaths_by_county_df
deaths_by_county_df = pd.merge(deaths_by_county_df, county_pop_df, on="County&State", how="outer")
#tidy up
deaths_by_county_df.rename(columns={'countyFIPS_x':'countyFIPS','County Name_x': 'County Name', "State_x":'State',"population_x":"population"}, inplace=True)
del deaths_by_county_df['countyFIPS_y']
del deaths_by_county_df['State_y']
del deaths_by_county_df['County Name_y']
deaths_by_county_df = deaths_by_county_df.set_index("County&State")

In [9]:
#groupby state
cases_by_state_df = cases_by_county_df.groupby(['State'])
cases_by_state_df = cases_by_state_df.sum()

deaths_by_state_df = deaths_by_county_df.groupby(['State'])
deaths_by_state_df = deaths_by_state_df.sum()

In [10]:
#divide deaths by cases for county and states
#rates_by_county_df = deaths_by_county_df.div(cases_by_county_df)
rates_by_state_df = deaths_by_state_df.div(cases_by_state_df)

In [11]:
#export to csv
#1. cases_by_county_df: confirmed cases by county, by day from 1/22/20 to 6/15/20, including a column for country population.
cases_by_county_df.to_csv('output_data/cases_by_county_df.csv', index=True, header=True)
#2. cases_by_state_df: a group-by of #1, organised into US States.
cases_by_state_df.to_csv('output_data/cases_by_state_df.csv', index=True, header=True)
#3. deaths_by_county_df: confirmed deaths by county, by day from 1/22/20 to 6/15/20, including a column for country population.
deaths_by_county_df.to_csv('output_data/deaths_by_county_df.csv', index=True, header=True)
#4. deaths_by_state_df: a group-by of #3, organised into US States.
deaths_by_state_df.to_csv('output_data/deaths_by_state_df.csv', index=True, header=True)
#5. rates_by_county_df: #3 divivded by #1, to get deaths / cases per day by county.
#rates_by_county_df.to_csv('output_data/rates_by_county_df.csv', index=True, header=True)
#6. rates_by_state_df: #4 divivded by #2, to get deaths / cases per day by state.
rates_by_state_df.to_csv('output_data/rates_by_state_df.csv', index=True, header=True)

In [12]:
#print each dataframe

In [13]:
deaths_by_county_df

,countyFIPS,County Name,State,stateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,6/7/2020,6/8/2020,6/9/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,population
County&State,,,,,,,,,,,,,,,,,,,,,
"Statewide Unallocated,AL",0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"Autauga County,AL",1001,Autauga County,AL,1,0,0,0,0,0,0,...,5,5,5,6,6,6,6,6,6,55869
"Baldwin County,AL",1003,Baldwin County,AL,1,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,223234
"Barbour County,AL",1005,Barbour County,AL,1,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,24686
"Bibb County,AL",1007,Bibb County,AL,1,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,22394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Sweetwater County,WY",56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,42343
"Teton County,WY",56039,Teton County,WY,56,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,23464
"Uinta County,WY",56041,Uinta County,WY,56,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,20226
"Washakie County,WY",56043,Washakie County,WY,56,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,7805
"Weston County,WY",56045,Weston County,WY,56,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6927

In [14]:
cases_by_county_df

,countyFIPS,County Name,State,stateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,6/7/2020,6/8/2020,6/9/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,population
County&State,,,,,,,,,,,,,,,,,,,,,
"Statewide Unallocated,AL",0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"Autauga County,AL",1001,Autauga County,AL,1,0,0,0,0,0,0,...,265,272,282,295,312,323,331,357,368,55869
"Baldwin County,AL",1003,Baldwin County,AL,1,0,0,0,0,0,0,...,313,320,325,331,343,353,361,364,383,223234
"Barbour County,AL",1005,Barbour County,AL,1,0,0,0,0,0,0,...,193,197,199,208,214,221,226,234,238,24686
"Bibb County,AL",1007,Bibb County,AL,1,0,0,0,0,0,0,...,77,79,85,89,93,97,100,104,111,22394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Sweetwater County,WY",56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,32,33,34,35,36,38,40,40,40,42343
"Teton County,WY",56039,Teton County,WY,56,0,0,0,0,0,0,...,100,100,100,101,102,104,104,105,105,23464
"Uinta County,WY",56041,Uinta County,WY,56,0,0,0,0,0,0,...,23,25,35,39,53,62,71,73,88,20226
"Washakie County,WY",56043,Washakie County,WY,56,0,0,0,0,0,0,...,39,39,39,39,39,39,39,39,39,7805
"Weston County,WY",56045,Weston County,WY,56,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,6927

In [15]:
cases_by_state_df

,countyFIPS,stateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,...,6/7/2020,6/8/2020,6/9/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,population
State,,,,,,,,,,,,,,,,,,,,,
AK,64610,62,0,0,0,0,0,0,0,0,...,544,563,573,593,610,625,652,661,664,731545
AL,71489,68,0,0,0,0,0,0,0,0,...,20166,20590,21071,21626,22474,23333,24220,25235,26272,4903185
AR,380625,380,0,0,0,0,0,0,0,0,...,9424,9736,10076,10366,10814,11546,12094,12499,12917,3017804
AZ,60208,64,0,0,0,0,1,1,1,1,...,26889,27677,28296,29852,31263,32918,34458,35691,36705,7278717
CA,357364,360,0,0,0,0,2,3,3,4,...,131348,133884,136863,139736,143238,146999,150314,152969,155687,39512223
CO,515983,520,0,0,0,0,0,0,0,0,...,28000,28179,28343,28496,28644,28820,29016,29129,29299,5758736
CT,72064,81,0,0,0,0,0,0,0,0,...,43967,44092,44177,44347,44461,44688,44994,45087,45235,3565287
DC,11001,11,0,0,0,0,0,0,0,0,...,9332,9389,9474,9537,9589,9654,9709,9767,9799,705749
DE,30009,40,0,0,0,0,0,0,0,0,...,9942,9972,10020,10056,10055,10173,10229,10264,10340,973764
FL,808550,816,0,0,0,0,0,0,0,0,...,63934,64901,65998,67370,69069,70970,73550,75567,77326,21477737
GA,2092677,2080,0,0,0,0,0,0,0,0,...,51905,52775,53424,54119,55148,56051,56939,57753,58599,10617423
HI,75025,90,0,0,0,0,0,0,0,0,...,675,676,682,685,692,706,723,728,736,1415872
IA,1890801,1900,0,0,0,0,0,0,0,0,...,21600,21907,22170,22502,22776,23162,23553,23900,24046,3155070
ID,705936,720,0,0,0,0,0,0,0,0,...,3138,3188,3220,3259,3301,3351,3398,3398,3462,1787065
IL,1744404,1751,0,0,1,1,1,1,1,1,...,127746,128408,129206,129831,130600,131194,131869,132536,133016,12671821
IN,1664464,1674,0,0,0,0,0,0,0,0,...,37388,37611,38024,38332,38743,39146,39543,39909,40430,6732219
KS,2111025,2120,0,0,0,0,0,0,0,0,...,10465,10680,10680,10846,10846,11082,11082,11082,11449,2913314
KY,2534400,2541,0,0,0,0,0,0,0,0,...,11278,11465,11700,11875,11937,12165,12445,12445,12647,4467673
LA,1412096,1430,0,0,0,0,0,0,0,0,...,42816,43050,43612,44029,44472,44995,46283,46619,47172,4648794
MA,350196,375,0,0,0,0,0,0,0,0,...,103436,103606,103885,104156,104667,105059,105394,105593,105690,6892503
MD,577079,600,0,0,0,0,0,0,0,0,...,57969,58397,58902,59463,60197,60613,61269,61701,62032,6045680
ME,368256,391,0,0,0,0,0,0,0,0,...,2570,2588,2606,2636,2667,2721,2757,2793,2810,1344212
MI,2164889,2184,0,0,0,0,0,0,0,0,...,64395,64674,64982,65180,65405,65667,65833,66048,66085,9986857
MN,2356569,2376,0,0,0,0,0,0,0,0,...,27884,28222,28520,28866,29313,29794,30166,30469,30693,5639632
MO,3348537,3364,0,0,0,0,0,0,0,0,...,14543,14720,14900,15183,15388,15582,15808,15981,16189,6137428
MS,2302724,2324,0,0,0,0,0,0,0,0,...,17268,17754,18107,18480,18480,19091,19348,19515,19799,2976149
MT,1683136,1710,0,0,0,0,0,0,0,0,...,552,555,561,569,572,582,597,611,619,1068778
NC,3710000,3737,0,0,0,0,0,0,0,0,...,35530,36357,37090,38168,39473,41245,42818,44115,45102,10488084
ND,2016809,2052,0,0,0,0,0,0,0,0,...,2861,2879,2901,2941,2980,3016,3058,3080,3101,762062
NE,2891649,2914,0,0,0,0,0,0,0,0,...,15443,15565,15698,15839,16130,16335,16456,16547,16677,1934408
NH,330100,363,0,0,0,0,0,0,0,0,...,5043,5079,5132,5178,5209,5251,5299,5318,5345,1359711
NJ,714441,748,0,0,0,0,0,0,0,0,...,164166,164450,164799,165297,165742,166111,166576,166867,167103,8882190
NM,1155995,1190,0,0,0,0,0,0,0,0,...,8937,9059,9104,9248,9365,9523,9619,9721,9845,2096829
NV,544774,576,0,0,0,0,0,0,0,0,...,9647,9784,10039,10155,10462,10678,10987,11194,11279,3080156
NY,2235845,2304,0,0,0,0,0,0,0,0,...,378166,378868,379551,380225,380961,381783,382699,383393,384013,19453561
OH,3439744,3471,0,0,0,0,0,0,0,0,...,38475,38834,39158,39572,39992,40422,40849,41148,41577,11689100
OK,3085929,3120,0,0,0,0,0,0,0,0,...,7150,7204,7361,7479,7626,7845,8074,8232,8418,3956971
OR,1477296,1517,0,0,0,0,0,0,0,0,...,4804,4918,4988,5059,5235,5377,5535,5636,5820,4217737
PA,2818489,2856,0,0,0,0,0,0,0,0,...,75589,75942,76435,76843,77312,77998,78461,78798,79121,12801989
RI,220025,264,0,0,0,0,0,0,0,0,...,15441,15642,15691,15756,15862,15947,15947,15947,16093,1059361
SC,2072116,2115,0,0,0,0,0,0,0,0,...,14284,14796,15220,15758,16437,17170,17955,18795,19378,5148714
SD,3040485,3082,0,0,0,0,0,0,0,0,...,5438,5471,5523,5603,5665,5742,5833,5898,5928,884659
TN,4474025,4512,0,0,0,0,0,0,0,0,...,25895,26437,27072,27418,27898,28656,29081,29938,30618,6829174
TX,12256516,12240,0,0,0,0,0,0,0,0,...,74955,75608,77554,80003,81818,83913,86253,88176,89450,28995881
UT,1421841,1470,0,0,0,0,0,0,0,0,...,11921,12384,12630,12893,13341,13643,14039,14391,14493,3205958
VA,6818111,6834,0,0,0,0,0,0,0,0,...,50408,51231,51726,52167,52644,53206,53868,54505,54886,8535519
VT,700196,750,0,0,0,0,0,0,0,0,...,1063,1075,1083,1094,1110,1119,1125,1127,1128,623989
WA,2068521,2120,1,1,1,1,1,1,1,1,...,23728,24039,24353,24628,24779,25171,25538,25832,26158,7614893
WI,3965119,4015,0,0,0,0,0,0,0,0,...,20834,21033,21308,21593,21922,22241,22516,22758,22932,5822434
WV,2973025,3024,0,0,0,0,0,0,0,0,...,2133,2151,2167,2183,2208,2230,2257,2288,2298,1792147
WY,1288529,1344,0,0,0,0,0,0,0,0,...,946,957,969,979,1008,1027,1050,1058,1079,578759

In [16]:
deaths_by_state_df

,countyFIPS,stateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,...,6/7/2020,6/8/2020,6/9/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,population
State,,,,,,,,,,,,,,,,,,,,,
AK,64610,62,0,0,0,0,0,0,0,0,...,10,10,11,11,11,12,12,12,12,731545
AL,71489,68,0,0,0,0,0,0,0,0,...,687,712,723,739,750,764,768,768,774,4903185
AR,380625,380,0,0,0,0,0,0,0,0,...,153,155,161,165,171,176,177,179,182,3017804
AZ,60208,64,0,0,0,0,0,0,0,0,...,1045,1045,1067,1092,1121,1136,1183,1186,1194,7278717
CA,357364,360,0,0,0,0,0,0,0,0,...,4632,4657,4749,4854,4928,4984,5055,5082,5115,39512223
CO,515983,520,0,0,0,0,0,0,0,0,...,1525,1541,1552,1572,1583,1595,1598,1599,1605,5758736
CT,72064,81,0,0,0,0,0,0,0,0,...,4071,4084,4094,4120,4146,4159,4186,4200,4204,3565287
DC,11001,11,0,0,0,0,0,0,0,0,...,489,491,495,499,502,506,511,515,515,705749
DE,30009,40,0,0,0,0,0,0,0,0,...,398,398,410,413,414,414,419,422,423,973764
FL,808550,816,0,0,0,0,0,0,0,0,...,2700,2711,2765,2800,2847,2877,2925,2931,2938,21477737
GA,2092677,2080,0,0,0,0,0,0,0,0,...,2177,2269,2285,2347,2389,2422,2445,2450,2506,10617423
HI,75025,90,0,0,0,0,0,0,0,0,...,17,17,17,17,17,17,17,17,17,1415872
IA,1890801,1900,0,0,0,0,0,0,0,0,...,602,607,622,629,638,642,649,650,653,3155070
ID,705936,720,0,0,0,0,0,0,0,0,...,83,83,85,85,86,87,87,87,89,1787065
IL,1744404,1751,0,0,0,0,0,0,0,0,...,5904,5924,6018,6095,6185,6260,6289,6308,6326,12671821
IN,1664464,1674,0,0,0,0,0,0,0,0,...,2121,2135,2158,2172,2197,2214,2231,2240,2251,6732219
KS,2111025,2120,0,0,0,0,0,0,0,0,...,232,236,236,240,240,243,243,243,246,2913314
KY,2534400,2541,0,0,0,0,0,0,0,0,...,469,471,477,483,493,497,499,499,505,4467673
LA,1412096,1430,0,0,0,0,0,0,0,0,...,2824,2830,2843,2855,2873,2883,2891,2901,2906,4648794
MA,350196,375,0,0,0,0,0,0,0,0,...,7316,7353,7408,7454,7491,7538,7576,7624,7647,6892503
MD,577079,600,0,0,0,0,0,0,0,0,...,2786,2797,2838,2867,2893,2926,2953,2974,2986,6045680
ME,368256,391,0,0,0,0,0,0,0,0,...,99,99,100,100,100,100,100,100,101,1344212
MI,2164889,2184,0,0,0,0,0,0,0,0,...,5894,5911,5943,5953,5982,5989,6012,6015,6018,9986857
MN,2356569,2376,0,0,0,0,0,0,0,0,...,1185,1196,1217,1236,1249,1274,1283,1298,1304,5639632
MO,3348537,3364,0,0,0,0,0,0,0,0,...,807,819,839,848,860,871,878,878,880,6137428
MS,2302724,2324,0,0,0,0,0,0,0,0,...,817,837,847,868,868,881,889,891,895,2976149
MT,1683136,1710,0,0,0,0,0,0,0,0,...,20,20,20,20,20,20,20,21,21,1068778
NC,3710000,3737,0,0,0,0,0,0,0,0,...,994,1005,1029,1046,1063,1091,1104,1109,1118,10488084
ND,2016809,2052,0,0,0,0,0,0,0,0,...,72,72,72,73,74,74,74,74,74,762062
NE,2891649,2914,0,0,0,0,0,0,0,0,...,187,188,191,195,212,216,216,216,220,1934408
NH,330100,363,0,0,0,0,0,0,0,0,...,286,286,294,301,308,315,318,320,320,1359711
NJ,714441,748,0,0,0,0,0,0,0,0,...,12173,12214,12303,12377,12442,12489,12587,12624,12676,8882190
NM,1155995,1190,0,0,0,0,0,0,0,0,...,396,400,404,410,420,426,431,435,440,2096829
NV,544774,576,0,0,0,0,0,0,0,0,...,438,442,445,447,459,461,462,463,465,3080156
NY,2235845,2304,0,0,0,0,0,0,0,0,...,30170,30226,30296,30363,30417,30498,30560,30603,30632,19453561
OH,3439744,3471,0,0,0,0,0,0,0,0,...,2377,2403,2421,2457,2490,2508,2554,2557,2573,11689100
OK,3085929,3120,0,0,0,0,0,0,0,0,...,364,364,369,371,373,375,375,375,375,3956971
OR,1477296,1517,0,0,0,0,0,0,0,0,...,164,164,169,169,171,173,174,176,180,4217737
PA,2818489,2856,0,0,0,0,0,0,0,0,...,5942,5952,6013,6061,6112,6161,6210,6214,6243,12801989
RI,220025,264,0,0,0,0,0,0,0,0,...,772,799,808,812,823,833,833,855,851,1059361
SC,2072116,2115,0,0,0,0,0,0,0,0,...,546,557,568,575,588,593,599,600,602,5148714
SD,3040485,3082,0,0,0,0,0,0,0,0,...,65,65,68,69,73,74,75,75,75,884659
TN,4474025,4512,0,0,0,0,0,0,0,0,...,414,417,429,431,436,461,465,467,475,6829174
TX,12256516,12240,0,0,0,0,0,0,0,0,...,1826,1832,1853,1885,1920,1939,1957,1976,1983,28995881
UT,1421841,1470,0,0,0,0,0,0,0,0,...,121,124,127,128,132,139,139,139,143,3205958
VA,6818111,6834,0,0,0,0,0,0,0,0,...,1467,1473,1490,1509,1519,1533,1541,1546,1552,8535519
VT,700196,750,0,0,0,0,0,0,0,0,...,55,55,55,55,55,55,55,55,55,623989
WA,2068521,2120,0,0,0,0,0,0,0,0,...,1159,1161,1176,1189,1194,1204,1213,1217,1221,7614893
WI,3965119,4015,0,0,0,0,0,0,0,0,...,646,646,661,670,681,688,691,692,694,5822434
WV,2973025,3024,0,0,0,0,0,0,0,0,...,84,84,84,85,86,88,88,88,88,1792147
WY,1288529,1344,0,0,0,0,0,0,0,0,...,17,17,17,18,18,18,18,18,18,578759

In [18]:
#rates_by_county_df

In [19]:
rates_by_state_df

,countyFIPS,stateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,...,6/7/2020,6/8/2020,6/9/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,population
State,,,,,,,,,,,,,,,,,,,,,
AK,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.018382,0.017762,0.019197,0.018550,0.018033,0.019200,0.018405,0.018154,0.018072,1.0
AL,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.034067,0.034580,0.034313,0.034172,0.033372,0.032743,0.031709,0.030434,0.029461,1.0
AR,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.016235,0.015920,0.015979,0.015917,0.015813,0.015243,0.014635,0.014321,0.014090,1.0
AZ,1.0,1.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.038863,0.037757,0.037709,0.036580,0.035857,0.034510,0.034332,0.033230,0.032530,1.0
CA,1.0,1.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.035265,0.034784,0.034699,0.034737,0.034404,0.033905,0.033630,0.033222,0.032854,1.0
CO,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.054464,0.054686,0.054758,0.055166,0.055265,0.055344,0.055073,0.054894,0.054780,1.0
CT,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.092592,0.092625,0.092673,0.092904,0.093250,0.093067,0.093035,0.093153,0.092937,1.0
DC,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.052400,0.052295,0.052248,0.052323,0.052352,0.052414,0.052632,0.052729,0.052556,1.0
DE,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.040032,0.039912,0.040918,0.041070,0.041174,0.040696,0.040962,0.041115,0.040909,1.0
FL,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.042231,0.041771,0.041895,0.041562,0.041220,0.040538,0.039769,0.038787,0.037995,1.0
GA,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.041942,0.042994,0.042771,0.043367,0.043320,0.043211,0.042941,0.042422,0.042765,1.0
HI,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.025185,0.025148,0.024927,0.024818,0.024566,0.024079,0.023513,0.023352,0.023098,1.0
IA,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.027870,0.027708,0.028056,0.027953,0.028012,0.027718,0.027555,0.027197,0.027156,1.0
ID,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.026450,0.026035,0.026398,0.026082,0.026053,0.025962,0.025603,0.025603,0.025708,1.0
IL,1.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.046217,0.046134,0.046577,0.046946,0.047358,0.047716,0.047691,0.047595,0.047558,1.0
IN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.056729,0.056765,0.056754,0.056663,0.056707,0.056558,0.056420,0.056128,0.055676,1.0
KS,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.022169,0.022097,0.022097,0.022128,0.022128,0.021927,0.021927,0.021927,0.021487,1.0
KY,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.041585,0.041082,0.040769,0.040674,0.041300,0.040855,0.040096,0.040096,0.039930,1.0
LA,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.065957,0.065738,0.065188,0.064844,0.064602,0.064074,0.062464,0.062228,0.061604,1.0
MA,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.070730,0.070971,0.071310,0.071566,0.071570,0.071750,0.071883,0.072202,0.072353,1.0
MD,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.048060,0.047896,0.048182,0.048215,0.048059,0.048273,0.048197,0.048200,0.048136,1.0
ME,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.038521,0.038253,0.038373,0.037936,0.037495,0.036751,0.036271,0.035804,0.035943,1.0
MI,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.091529,0.091397,0.091456,0.091332,0.091461,0.091203,0.091322,0.091070,0.091065,1.0
MN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.042497,0.042378,0.042672,0.042819,0.042609,0.042760,0.042531,0.042601,0.042485,1.0
MO,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.055491,0.055639,0.056309,0.055852,0.055888,0.055898,0.055541,0.054940,0.054358,1.0
MS,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.047313,0.047144,0.046777,0.046970,0.046970,0.046147,0.045948,0.045657,0.045204,1.0
MT,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.036232,0.036036,0.035651,0.035149,0.034965,0.034364,0.033501,0.034370,0.033926,1.0
NC,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.027976,0.027643,0.027743,0.027405,0.026930,0.026452,0.025784,0.025139,0.024788,1.0
ND,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.025166,0.025009,0.024819,0.024821,0.024832,0.024536,0.024199,0.024026,0.023863,1.0
NE,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.012109,0.012078,0.012167,0.012311,0.013143,0.013223,0.013126,0.013054,0.013192,1.0
NH,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.056712,0.056310,0.057288,0.058131,0.059128,0.059989,0.060011,0.060173,0.059869,1.0
NJ,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.074151,0.074272,0.074655,0.074877,0.075068,0.075185,0.075563,0.075653,0.075857,1.0
NM,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.044310,0.044155,0.044376,0.044334,0.044848,0.044734,0.044807,0.044748,0.044693,1.0
NV,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.045403,0.045176,0.044327,0.044018,0.043873,0.043173,0.042050,0.041361,0.041227,1.0
NY,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.079780,0.079780,0.079821,0.079855,0.079843,0.079883,0.079854,0.079821,0.079768,1.0
OH,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.061780,0.061879,0.061826,0.062089,0.062262,0.062045,0.062523,0.062142,0.061885,1.0
OK,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.050909,0.050527,0.050129,0.049606,0.048912,0.047801,0.046445,0.045554,0.044547,1.0
OR,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.034138,0.033347,0.033881,0.033406,0.032665,0.032174,0.031436,0.031228,0.030928,1.0
PA,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.078609,0.078376,0.078668,0.078875,0.079056,0.078989,0.079148,0.078860,0.078904,1.0
RI,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.049997,0.051080,0.051494,0.051536,0.051885,0.052236,0.052236,0.053615,0.052880,1.0
SC,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.038225,0.037645,0.037319,0.036489,0.035773,0.034537,0.033361,0.031923,0.031066,1.0
SD,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.011953,0.011881,0.012312,0.012315,0.012886,0.012887,0.012858,0.012716,0.012652,1.0
TN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.015988,0.015773,0.015847,0.015720,0.015628,0.016087,0.015990,0.015599,0.015514,1.0
TX,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.024361,0.024230,0.023893,0.023562,0.023467,0.023107,0.022689,0.022410,0.022169,1.0
UT,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.010150,0.010013,0.010055,0.009928,0.009894,0.010188,0.009901,0.009659,0.009867,1.0
VA,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.029103,0.028752,0.028806,0.028926,0.028854,0.028813,0.028607,0.028364,0.028277,1.0
VT,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.051740,0.051163,0.050785,0.050274,0.049550,0.049151,0.048889,0.048802,0.048759,1.0
WA,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.048845,0.048297,0.048290,0.048278,0.048186,0.047833,0.047498,0.047112,0.046678,1.0
WI,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.031007,0.030714,0.031021,0.031029,0.031065,0.030934,0.030689,0.030407,0.030263,1.0
WV,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.039381,0.039052,0.038763,0.038937,0.038949,0.039462,0.038990,0.038462,0.038294,1.0
WY,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.017970,0.017764,0.017544,0.018386,0.017857,0.017527,0.017143,0.017013,0.016682,1.0